{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["lodash", { "id": ["lodash", "recompose", "@material-ui"] }],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
  ]
}